@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SiteSelection</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/select2.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
</head>
<body>
    <style>
        legend {
            margin-top: 5px;
            margin-bottom: 30px;
            padding-bottom: 25px;
        }

        .body {
            padding-bottom: 30px;
            border-bottom: 1px solid #eeeeee;
        }

        .footer {
            margin-top: 20px;
            padding-bottom: 20px;
        }

        .btn {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            margin-left: 15px;
            padding: 7px 25px;
        }

        .row {
            padding: 10px;
        }

        div.container4 {
            height: 45em;
            position: relative;
        }

            div.container4 .cus {
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
                border-radius: 15px;
                -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
                -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
                margin: 0;
                background: white;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
            }
    </style>



    <div class=container4>
        <div class="cus" style="min-width:518px">
            <legend>Choose Default Godown</legend>
            @using (Html.BeginForm())
            {
            <div class="body">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            @Html.Label("Default Godown", new { @class = "control-label col-xs-3", @style = "padding-top:8px;" })
                            <div class="col-xs-9">
                                @Html.DropDownList("DefaultGodownId",new SelectList(ViewBag.GodownList as System.Collections.IEnumerable, "GodownId", "GodownName"),"", new { @class = "form-control required" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="footer">
                <button type="submit" class="btn btn-success">Proceed</button>
            </div>
            }
        </div>
    </div>
</body>
</html>


<script type="text/javascript">
    $(document).ready(function () { $("#DefaultGodownId").select2(); });
</script>