
@{
    ViewBag.Title = "Ledger Posting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ledger Posting</h2>

    <p style="font:bold"><b>Check These Fields</b> </p>
    @{
        
    <ul>
        <p style="font:bold">@ViewBag.Error</p>
    </ul>
}

